<!-->
<form action="addUser" method="POST">
            <div class="form-group">
              <label for="name">First Name</label>
              <input type="text" class="form-control col-lg-9" id="f_name" aria-describedby="emailHelp" placeholder="Enter first name" name="name">
            </div>
            <div class="form-group">
              <label for="surname">Last Name</label>
              <input type="text" class="form-control col-lg-9" id="l_name" aria-describedby="emailHelp" placeholder="Enter last name" name="surname">
            </div>
            <div class="form-group">
              <label for="cin">cin</label>
              <input type="text" class="form-control col-lg-9" id="exampleInputEmail1" aria-describedby="emailHelp" name="cin" placeholder="Enter cin">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
</form>
<-->

<form action="addRes" method="POST">
            <div>
              <label for="Date">Date :</label>
              <input type="text" id="f_name" placeholder="Enter Date" name="date">
            </div>
            <div>
              <label for="Room">Chambre :</label>
              <input type="text" id="f_name" placeholder="Enter Room" name="room">
            </div>
            <button type="submit">Submit</button>
</form>
