<h1>{{title}}</h1>
<table id="table">
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>CIN</th>
  </tr>
  {{#each data}}
  <tr>
    <td> {{this.name}}</td>
    <td> {{this.surname}}</td>
    <td> {{this.cin}}</td>
  </tr>
  {{/each}}
</table>
